.navbar-right:last-child {
	margin-right: 15px;
}

.list-group .glyphicon {
	margin-right: 10px;
}

.glyphicon-star {
	color: #ddd;
}

.glyphicon-star.active {
	color: #c90;
}

.message {
}

.message .date {
	color: silver;
}

.message .user {
	font-weight: bold;
}

.message .text {
	padding-left: 10px;
}